In [1]:
import pandas as pd
import glob
import os
import re
import nltk
nltk.download('wordnet') # Download WordNet if you haven't already
from nltk.corpus import wordnet
import numpy as np
from nltk.stem import PorterStemmer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\hanna\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

# helping methods

## creating the unigram model and calculating the term frequency

In [2]:
def create_unig(tokens):
    token_dict = {}

# Iterate over the list of tokens
    for token in tokens:
    # Check if the token is already in the dictionary
        if token in token_dict:
        # If it is, increment its value by 1
            token_dict[token] += 1
        else:
        # If it's not, add it to the dictionary with a value of 1
            token_dict[token] = 1
    return token_dict

## function  to calculate the df

In [3]:
corpus = "" # reading our text files

def df(dataF):
    df_s = {}
    list_of_docs = []
    for doc in names:
        with open('documents/' + doc, encoding='utf-8') as f:
            content = f.read()
#       df_s[token] = sum(token in content for document in documents)
            list_of_docs.append(content)

    for token in dataF["Token"]:
        df_s[token] = sum(token in document for document in list_of_docs)
    
    return df_s

# reading our corpus and do some pre-processing to have a clear tokens

In [4]:
stop_words = pd.read_csv('stop_words_english.txt', delimiter=',')
stop_words = list(stop_words['able'])
stop_words

['about',
 'above',
 'abroad',
 'according',
 'accordingly',
 'across',
 'actually',
 'adj',
 'after',
 'afterwards',
 'again',
 'against',
 'ago',
 'ahead',
 "ain't",
 'all',
 'allow',
 'allows',
 'almost',
 'alone',
 'along',
 'alongside',
 'already',
 'also',
 'although',
 'always',
 'am',
 'amid',
 'amidst',
 'among',
 'amongst',
 'an',
 'and',
 'another',
 'any',
 'anybody',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anyways',
 'anywhere',
 'apart',
 'appear',
 'appreciate',
 'appropriate',
 'are',
 "aren't",
 'around',
 'as',
 "a's",
 'aside',
 'ask',
 'asking',
 'associated',
 'at',
 'available',
 'away',
 'awfully',
 'back',
 'backward',
 'backwards',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'begin',
 'behind',
 'being',
 'believe',
 'below',
 'beside',
 'besides',
 'best',
 'better',
 'between',
 'beyond',
 'both',
 'brief',
 'but',
 'by',
 'came',
 'can',
 'cannot',
 'cant',
 "can't",
 'caption',
 'cause',
 'causes',
 'certain',
 'certainly',
 'changes',
 'clearly',
 "c'mon",
 'co',
 'co.',
 'com',
 'come',
 'comes',
 'concerning',
 'consequently',
 'consider',
 'considering',
 'contain',
 'containing',
 'contains',
 'corresponding',
 'could',
 "couldn't",
 'course',
 "c's",
 'currently',
 'dare',
 "daren't",
 'definitely',
 'described',
 'despite',
 'did',
 "didn't",
 'different',
 'directly',
 'do',
 'does',
 "doesn't",
 'doing',
 'done',
 "don't",
 'down',
 'downwards',
 'during',
 'each',
 'edu',
 'eg',
 'eight',
 'eighty',
 'either',
 'else',
 'elsewhere',
 'end',
 'ending',
 'enough',
 'entirely',
 'especially',
 'et',
 'etc',
 'even',
 'ever',
 'evermore',
 'every',
 'everybody',
 'everyone',
 'everything',
 'everywhere',
 'ex',
 'exactly',
 'example',
 'except',
 'fairly',
 'far',
 'farther',
 'few',
 'fewer',
 'fifth',
 'first',
 'five',
 'followed',
 'following',
 'follows',
 'for',
 'forever',
 'former',
 'formerly',
 'forth',
 'forward',
 'found',
 'four',
 'from',
 'further',
 'furthermore',
 'get',
 'gets',
 'getting',
 'given',
 'gives',
 'go',
 'goes',
 'going',
 'gone',
 'got',
 'gotten',
 'greetings',
 'had',
 "hadn't",
 'half',
 'happens',
 'hardly',
 'has',
 "hasn't",
 'have',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'hello',
 'help',
 'hence',
 'her',
 'here',
 'hereafter',
 'hereby',
 'herein',
 "here's",
 'hereupon',
 'hers',
 'herself',
 "he's",
 'hi',
 'him',
 'himself',
 'his',
 'hither',
 'hopefully',
 'how',
 'howbeit',
 'however',
 'hundred',
 "i'd",
 'ie',
 'if',
 'ignored',
 "i'll",
 "i'm",
 'immediate',
 'in',
 'inasmuch',
 'inc',
 'inc.',
 'indeed',
 'indicate',
 'indicated',
 'indicates',
 'inner',
 'inside',
 'insofar',
 'instead',
 'into',
 'inward',
 'is',
 "isn't",
 'it',
 "it'd",
 "it'll",
 'its',
 "it's",
 'itself',
 "i've",
 'just',
 'k',
 'keep',
 'keeps',
 'kept',
 'know',
 'known',
 'knows',
 'last',
 'lately',
 'later',
 'latter',
 'latterly',
 'least',
 'less',
 'lest',
 'let',
 "let's",
 'like',
 'liked',
 'likely',
 'likewise',
 'little',
 'look',
 'looking',
 'looks',
 'low',
 'lower',
 'ltd',
 'made',
 'mainly',
 'make',
 'makes',
 'many',
 'may',
 'maybe',
 "mayn't",
 'me',
 'mean',
 'meantime',
 'meanwhile',
 'merely',
 'might',
 "mightn't",
 'mine',
 'minus',
 'miss',
 'more',
 'moreover',
 'most',
 'mostly',
 'mr',
 'mrs',
 'much',
 'must',
 "mustn't",
 'my',
 'myself',
 'name',
 'namely',
 'nd',
 'near',
 'nearly',
 'necessary',
 'need',
 "needn't",
 'needs',
 'neither',
 'never',
 'neverf',
 'neverless',
 'nevertheless',
 'new',
 'next',
 'nine',
 'ninety',
 'no',
 'nobody',
 'non',
 'none',
 'nonetheless',
 'noone',
 'no-one',
 'nor',
 'normally',
 'not',
 'nothing',
 'notwithstanding',
 'novel',
 'now',
 'nowhere',
 'obviously',
 'of',
 'off',
 'often',
 'oh',
 'ok',
 'okay',
 'old',
 'on',
 'once',
 'one',
 'ones',
 "one's",
 'only',
 'onto',
 'opposite',
 'or',
 'other',
 'others',
 'otherwise',
 'ought',
 "oughtn't",
 'our',
 'ours',
 'ourselves',
 'out',
 'outside',
 'over',
 'overall',
 'own',
 'particular',
 'particularly',
 'past',
 'per',
 'perhaps',
 'placed',
 'please',
 'plus',
 'possible',
 'presumably',
 'probably',
 'provided',
 'provides',
 'que',
 'quite',
 'qv',
 'rather',
 'rd',
 're',
 'really',
 'reasonably',
 'recent',
 'recently',
 'regarding',
 'regardless',
 'regards',
 'relatively',
 'respectively',
 'right',
 'round',
 'said',
 'same',
 'saw',
 'say',
 'saying',
 'says',
 'second',
 'secondly',
 'see',
 'seeing',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'seen',
 'self',
 'selves',
 'sensible',
 'sent',
 'serious',
 'seriously',
 'seven',
 'several',
 'shall',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "shouldn't",
 'since',
 'six',
 'so',
 'some',
 'somebody',
 'someday',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhat',
 'somewhere',
 'soon',
 'sorry',
 'specified',
 'specify',
 'specifying',
 'still',
 'sub',
 'such',
 'sup',
 'sure',
 'take',
 'taken',
 'taking',
 'tell',
 'tends',
 'th',
 'than',
 'thank',
 'thanks',
 'thanx',
 'that',
 "that'll",
 'thats',
 "that's",
 "that've",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereafter',
 'thereby',
 "there'd",
 'therefore',
 'therein',
 "there'll",
 "there're",
 'theres',
 "there's",
 'thereupon',
 "there've",
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'thing',
 'things',
 'think',
 'third',
 'thirty',
 'this',
 'thorough',
 'thoroughly',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'till',
 'to',
 'together',
 'too',
 'took',
 'toward',
 'towards',
 'tried',
 'tries',
 'truly',
 'try',
 'trying',
 "t's",
 'twice',
 'two',
 'un',
 'under',
 'underneath',
 'undoing',
 'unfortunately',
 'unless',
 'unlike',
 'unlikely',
 'until',
 'unto',
 'up',
 'upon',
 'upwards',
 'us',
 'use',
 'used',
 'useful',
 'uses',
 'using',
 'usually',
 'v',
 'value',
 'various',
 'versus',
 'very',
 'via',
 'viz',
 'vs',
 'want',
 'wants',
 'was',
 "wasn't",
 'way',
 'we',
 "we'd",
 'welcome',
 'well',
 "we'll",
 'went',
 'were',
 "we're",
 "weren't",
 "we've",
 'what',
 'whatever',
 "what'll",
 "what's",
 "what've",
 'when',
 'whence',
 'whenever',
 'where',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 "where's",
 'whereupon',
 'wherever',
 'whether',
 'which',
 'whichever',
 'while',
 'whilst',
 'whither',
 'who',
 "who'd",
 'whoever',
 'whole',
 "who'll",
 'whom',
 'whomever',
 "who's",
 'whose',
 'why',
 'will',
 'willing',
 'wish',
 'with',
 'within',
 'without',
 'wonder',
 "won't",
 'would',
 "wouldn't",
 'yes',
 'yet',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've",
 'zero',
 'a',
 "how's",
 'i',
 "when's",
 "why's",
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'j',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'uucp',
 'w',
 'x',
 'y',
 'z',
 'I',
 'www',
 'amount',
 'bill',
 'bottom',
 'call',
 'computer',
 'con',
 'couldnt',
 'cry',
 'de',
 'describe',
 'detail',
 'due',
 'eleven',
 'empty',
 'fifteen',
 'fifty',
 'fill',
 'find',
 'fire',
 'forty',
 'front',
 'full',
 'give',
 'hasnt',
 'herse',
 'himse',
 'interest',
 'itse”',
 'mill',
 'move',
 'myse”',
 'part',
 'put',
 'show',
 'side',
 'sincere',
 'sixty',
 'system',
 'ten',
 'thick',
 'thin',
 'top',
 'twelve',
 'twenty',
 'abst',
 'accordance',
 'act',
 'added',
 'adopted',
 'affected',
 'affecting',
 'affects',
 'ah',
 'announce',
 'anymore',
 'apparently',
 'approximately',
 'aren',
 'arent',
 'arise',
 'auth',
 'beginning',
 'beginnings',
 'begins',
 'biol',
 'briefly',
 'ca',
 'date',
 'ed',
 'effect',
 'et-al',
 'ff',
 'fix',
 'gave',
 'giving',
 'heres',
 'hes',
 'hid',
 'home',
 'id',
 'im',
 'immediately',
 'importance',
 'important',
 'index',
 'information',
 'invention',
 'itd',
 'keys',
 'kg',
 'km',
 'largely',
 'lets',
 'line',
 "'ll",
 'means',
 'mg',
 'million',
 'ml',
 'mug',
 'na',
 'nay',
 'necessarily',
 'nos',
 'noted',
 'obtain',
 'obtained',
 'omitted',
 'ord',
 'owing',
 'page',
 'pages',
 'poorly',
 'possibly',
 'potentially',
 'pp',
 'predominantly',
 'present',
 'previously',
 'primarily',
 'promptly',
 'proud',
 'quickly',
 'ran',
 'readily',
 'ref',
 'refs',
 'related',
 'research',
 'resulted',
 'resulting',
 'results',
 'run',
 'sec',
 'section',
 'shed',
 'shes',
 'showed',
 'shown',
 'showns',
 'shows',
 'significant',
 'significantly',
 'similar',
 'similarly',
 'slightly',
 'somethan',
 'specifically',
 'state',
 'states',
 'stop',
 'strongly',
 'substantially',
 'successfully',
 'sufficiently',
 'suggest',
 'thered',
 'thereof',
 'therere',
 'thereto',
 'theyd',
 'theyre',
 'thou',
 'thoughh',
 'thousand',
 'throug',
 'til',
 'tip',
 'ts',
 'ups',
 'usefully',
 'usefulness',
 "'ve",
 'vol',
 'vols',
 'wed',
 'whats',
 'wheres',
 'whim',
 'whod',
 'whos',
 'widely',
 'words',
 'world',
 'youd',
 'youre']

In [5]:
stop_words.append('able')

In [6]:
names = os.listdir('documents/')
names

['A comparison of explanations given by explainable artificial intelligence methods on analysing electronic health records_.txt',
 'A method to evaluate task specific importance of spatio temporal units based on explainable artificial intelligence.txt',
 'A multi-component framework for the analysis and design of explainble AI.txt',
 'A systematic review of explainable artificial intelligence in terms of different application domains and tasks_.txt',
 'An_Explainable_Artificial_Intelligence_Model_for_Clustering_Numerical_Databases.txt',
 'Applied AI Letters - 2021 - Yang - Abstraction  validation  and generalization for explainable artificial intelligence.txt',
 'A_Survey_on_Explainable_Artificial_Intelligence_Techniques_and_Challenges.txt',
 'A_Survey_on_Explainable_Artificial_Intelligence_XAI_Toward_Medical_XAI.txt',
 'Black_Box_Attacks_on_Explainable_Artificial_IntelligenceXAI_methods_in_Cyber_Security.txt',
 'Building Explainable Artificial Intelligence Systems.txt',
 'Building More Explainable Artificial Intelligence with Argumentation.txt',
 'DARPA’s Explainable.txt',
 'Deep Opacity Undermines Data Protection and Explainable Artificial Intelligence_.txt',
 'Ecography - 2020 - Ryo - Explainable artificial intelligence enhances the ecological interpretability of black‐box species.txt',
 'Evolving_Rule-Based_Explainable_Artificial_Intelligence_for_Unmanned_Aerial_Vehicles.txt',
 'Explainability Is in the Mind of the Beholder.txt',
 'Explainable Artificial Intelligence (XAI)_.txt',
 'Explainable artificial intelligence an analytical review.txt',
 'Explainable Artificial Intelligence Applications in Cyber Security State-of-the-Art in Research_.txt',
 'Explainable Artificial Intelligence Enabled TeleOphthalmology for Diabetic Retinopathy Grading and Classification_.txt',
 'Explainable artificial intelligence for bias detection in covid ct-scan classifiers_.txt',
 'Explainable artificial intelligence for developing smart cities solutions_.txt',
 'Explainable Artificial Intelligence for Intrusion Detection System_.txt',
 'Explainable Artificial Intelligence Helps in Understanding the Effect of Fibronectin on Survival of Sepsis_.txt',
 'Explainable Artificial Intelligence in the Early Diagnosis of Gastrointestinal Disease_.txt',
 'Explainable artificial intelligence model for diagnosis of atrial fibrillation using holter electrocardiogram waveforms_.txt',
 'Explainable Artificial Intelligence Objectives.txt',
 'Explainable Artificial Intelligence via Bayesian.txt',
 'Explainable Artificial Intelligence, Lawyer’s Perspective.txt',
 'Explainable-Artificial-Intelligence_-A-Survey-FINAL.txt',
 'ExplainableArtificialIntelligence.txt',
 'Explainable_Artificial_Intelligence_for_Data_Science_on_Customer_Churn.txt',
 'Explainable_Machine_Learning_Exploiting_News_and_Domain-Specific_Lexicon_for_Stock_Market_Forecasting.txt',
 'Exploring the Need for Explainable Artificial Intelligence.txt',
 'Four Principles of Explainable Artificial Int.txt',
 'From Zadeh’s Computing with Words Towards eXplainable Artificial Intelligence.txt',
 'Interactive Natural Language Technology for Explainable Artificial Intelligence.txt',
 'Interpretation of cluster structures in pain‐related phenotype data using explainable artificial intelligence (XAI)_.txt',
 'Knowledge-to-information translation training (KITT) an adaptive approach to explainable artificial intelligence_.txt',
 'PointHop_An_Explainable_Machine_Learning_Method_for_Point_Cloud_Classification.txt',
 'Reasons, values, stakeholders A philosophical framework for explainable artificial intelligence_.txt',
 'Roadmap of Designing Cognitive Metrics for Explainable AI.txt',
 'Robust_Network_Intrusion_Detection_Through_Explainable_Artificial_Intelligence_XAI.txt',
 'SeXAI a semantic explainable artificial intelligence framework_.txt',
 'Towards Explainable Artificial Intelligence.txt',
 'Using Explainable Artificial Intelligence to Improve.txt',
 'Vibration Signals Analysis by Explainable AI.txt',
 'WIREs Data Min   Knowl - 2020 - Confalonieri - A historical perspective of explainable Artificial Intelligence.txt',
 'XAI4FL enhancing spectrum-based fault localization with explainable artificial intelligence_.txt',
 '[PDF] Feature importance of stabilised rammed earth components affecting the compressive strength calculated with explainable artificial intelligence tools_.txt']

In [7]:
# names.remove('.ipynb_checkpoints')
# names.remove('Untitled.ipynb')

In [8]:
corpus = "" # reading our text files

for doc in names:
    with open('documents/' + doc, encoding='utf-8') as f:
        content = f.read()
        corpus = corpus + str(content)

In [9]:
corpus = re.sub('[^a-zA-Z]+', ' ', corpus) # i only want a alphabetacal words that good enough for our purpose
len(corpus)

3012321

In [10]:
tokens = corpus.split(" ")
len(tokens)
tokens = [s for s in tokens if len(s) > 1 or ((s =='i' or s == 'I') or (s == 'a' or s == 'A'))]
len(tokens)

461618

In [11]:
our_tokens = [word for word in tokens if wordnet.synsets(word)]

In [12]:
len(our_tokens)

316399

## creating our simple dictionary by looking at the corpus in a unigram sight

In [13]:
def create_unig(tokens):
    token_dict = {}

# Iterate over the list of tokens
    for token in tokens:
    # Check if the token is already in the dictionary
        if token in token_dict:
        # If it is, increment its value by 1
            token_dict[token] += 1
        else:
        # If it's not, add it to the dictionary with a value of 1
            token_dict[token] = 1
    return token_dict

In [14]:
simple_dict = create_unig(our_tokens)

In [15]:
l1 = simple_dict.keys()
l2 = simple_dict.values()
temp_dict = {'Token' : l1, 'TF' : l2}
our_tokens_df = pd.DataFrame(temp_dict)

In [16]:
our_tokens_df

              Token    TF
0                 A  2461
1        Comparison    32
2      Explanations   217
3             Given    39
4                by  2271
...             ...   ...
17553         Saint     1
17554    Interlaken     1
17555         Askes     1
17556        strain     1
17557        Solids     1

[17558 rows x 2 columns]

In [17]:
df_s = df(our_tokens_df)

In [18]:
our_tokens_df["df"] = df_s.values()

In [19]:
our_tokens_df

              Token    TF  df
0                 A  2461  50
1        Comparison    32  15
2      Explanations   217  34
3             Given    39  21
4                by  2271  50
...             ...   ...  ..
17553         Saint     1   1
17554    Interlaken     1   1
17555         Askes     1   1
17556        strain     1  28
17557        Solids     1   1

[17558 rows x 3 columns]

In [20]:
our_tokens_df['idf'] = np.log10((50/our_tokens_df['df'] ))

In [21]:
token_10 = our_tokens_df[0:10].sort_values(by=['TF'], ascending=False)
token_10

          Token    TF  df       idf
9            on  3503  50  0.000000
0             A  2461  50  0.000000
4            by  2271  50  0.000000
5   Explainable   626  50  0.000000
7  Intelligence   549  48  0.017729
6    Artificial   537  49  0.008774
2  Explanations   217  34  0.167491
8       Methods   116  36  0.142668
3         Given    39  21  0.376751
1    Comparison    32  15  0.522879

## Stop words removal

In [22]:
print(stop_words[:50])

['about', 'above', 'abroad', 'according', 'accordingly', 'across', 'actually', 'adj', 'after', 'afterwards', 'again', 'against', 'ago', 'ahead', "ain't", 'all', 'allow', 'allows', 'almost', 'alone', 'along', 'alongside', 'already', 'also', 'although', 'always', 'am', 'amid', 'amidst', 'among', 'amongst', 'an', 'and', 'another', 'any', 'anybody', 'anyhow', 'anyone', 'anything', 'anyway', 'anyways', 'anywhere', 'apart', 'appear', 'appreciate', 'appropriate', 'are', "aren't", 'around', 'as']

In [23]:
our_terms_after_SP = [token for token in our_tokens if token not in stop_words]
len(our_terms_after_SP)

226484

In [24]:
stop_dict = create_unig(our_terms_after_SP)

In [25]:
s1 = stop_dict.keys()
s2 = stop_dict.values()

td = {"Token" : s1, "TF" : s2}
stop_word_dicSTOPWORDS = pd.DataFrame(td)

In [26]:
stop_word_dicSTOPWORDS

              Token    TF
0                 A  2461
1        Comparison    32
2      Explanations   217
3             Given    39
4       Explainable   626
...             ...   ...
17020         Saint     1
17021    Interlaken     1
17022         Askes     1
17023        strain     1
17024        Solids     1

[17025 rows x 2 columns]

In [27]:
idf = df(stop_word_dicSTOPWORDS).values()

In [28]:
stop_word_dicSTOPWORDS['df'] = idf

In [29]:
stop_word_dicSTOPWORDS

              Token    TF  df
0                 A  2461  50
1        Comparison    32  15
2      Explanations   217  34
3             Given    39  21
4       Explainable   626  50
...             ...   ...  ..
17020         Saint     1   1
17021    Interlaken     1   1
17022         Askes     1   1
17023        strain     1  28
17024        Solids     1   1

[17025 rows x 3 columns]

In [30]:
stop_word_dicSTOPWORDS['idf'] = np.log((50 / stop_word_dicSTOPWORDS['df']))

In [31]:
stop_word_dicSTOPWORDS

              Token    TF  df       idf
0                 A  2461  50  0.000000
1        Comparison    32  15  1.203973
2      Explanations   217  34  0.385662
3             Given    39  21  0.867501
4       Explainable   626  50  0.000000
...             ...   ...  ..       ...
17020         Saint     1   1  3.912023
17021    Interlaken     1   1  3.912023
17022         Askes     1   1  3.912023
17023        strain     1  28  0.579818
17024        Solids     1   1  3.912023

[17025 rows x 4 columns]

In [32]:
stopW_10 = stop_word_dicSTOPWORDS.sort_values(by=['TF'], ascending=False)[0:10]
stopW_10

            Token    TF  df       idf
0               A  2461  50  0.000000
104         model  2329  49  0.020203
54             In  1811  50  0.000000
147          data  1741  50  0.000000
34   explanations  1494  45  0.105361
282   explanation  1487  47  0.061875
262         based  1373  50  0.000000
69         models  1271  48  0.040822
42       learning  1236  49  0.020203
85             AI  1222  50  0.000000

## Case folding

In [33]:
case_folded_tokens = [token.lower() for token in our_tokens]

In [34]:
len(case_folded_tokens)

316399

In [35]:
caseFolding_df = create_unig(case_folded_tokens)

In [36]:
cs1 = caseFolding_df.keys()
cs2 = caseFolding_df.values()

caseFolding_df = pd.DataFrame({"Token" : cs1, "TF" : cs2})
caseFolding_df

              Token     TF
0                 a  10140
1        comparison    129
2      explanations   1730
3             given    340
4                by   2360
...             ...    ...
12786         saint      1
12787    interlaken      1
12788         askes      1
12789        strain      1
12790        solids      1

[12791 rows x 2 columns]

In [37]:
caseFolding_dff = df(caseFolding_df)

{'a': 50,
 'comparison': 37,
 'explanations': 45,
 'given': 45,
 'by': 50,
 'explainable': 48,
 'artificial': 48,
 'intelligence': 48,
 'methods': 47,
 'on': 50,
 'analysing': 4,
 'electronic': 16,
 'health': 29,
 'records': 12,
 'fan': 16,
 'bruce': 0,
 'burnett': 0,
 'shang': 1,
 'ming': 47,
 'zhou': 3,
 'swansea': 1,
 'university': 5,
 'united': 1,
 'kingdom': 0,
 'ac': 50,
 'uk': 35,
 'plymouth': 1,
 'abstract': 21,
 'aims': 35,
 'provide': 48,
 'intelligible': 13,
 'users': 38,
 'algorithms': 39,
 'such': 50,
 'as': 50,
 'lime': 13,
 'rules': 35,
 'compute': 45,
 'feature': 48,
 'importance': 41,
 'machine': 48,
 'learning': 49,
 'predictions': 41,
 'has': 50,
 'attracted': 6,
 'much': 36,
 'research': 50,
 'attention': 36,
 'applying': 22,
 'techniques': 46,
 'in': 50,
 'healthcare': 16,
 'inform': 48,
 'clinical': 13,
 'decision': 50,
 'making': 43,
 'is': 50,
 'challenging': 20,
 'paper': 40,
 'tertiary': 3,
 'extension': 16,
 'complex': 45,
 'large': 44,
 'scale': 36,
 'compare': 38,
 'features': 48,
 'terms': 44,
 'prediction': 44,
 'es': 50,
 'models': 48,
 'experimental': 25,
 'results': 50,
 'show': 47,
 'studied': 17,
 'circumstantially': 1,
 'generate': 43,
 'different': 50,
 'top': 46,
 'aberrations': 2,
 'shared': 10,
 'merit': 4,
 'further': 44,
 'exploration': 13,
 'domain': 41,
 'experts': 29,
 'evaluate': 43,
 'human': 46,
 'trust': 41,
 'index': 21,
 'ai': 50,
 'black': 44,
 'box': 46,
 'glass': 5,
 'i': 50,
 'introduction': 14,
 'though': 44,
 'machines': 26,
 'outperform': 19,
 'some': 45,
 'cations': 48,
 'one': 49,
 'question': 35,
 'remains': 15,
 'can': 50,
 'assure': 7,
 'solutions': 26,
 'are': 50,
 'trustworthy': 15,
 'commonalities': 2,
 'arise': 19,
 'algorithm': 44,
 'applications': 40,
 'model': 49,
 'exhibit': 8,
 'behaviours': 5,
 'compromising': 4,
 'factor': 39,
 'become': 39,
 'an': 50,
 'adversary': 3,
 'understanding': 40,
 'internal': 24,
 'mechanisms': 28,
 'difficult': 34,
 'not': 50,
 'impossible': 8,
 'medical': 34,
 'sciences': 21,
 'have': 50,
 'witnessed': 2,
 'growing': 15,
 'interest': 46,
 'using': 49,
 'ml': 32,
 'however': 26,
 'light': 45,
 'ensuring': 10,
 'collaboration': 7,
 'al': 50,
 'looked': 10,
 'at': 50,
 'clinicians': 7,
 'want': 25,
 'identify': 40,
 'merely': 6,
 'having': 25,
 'highly': 31,
 'accurate': 38,
 'sufficient': 34,
 'notably': 3,
 'single': 41,
 'metric': 41,
 'classification': 45,
 'accuracy': 42,
 'does': 42,
 'insight': 37,
 'solution': 36,
 'was': 47,
 'obtained': 26,
 'or': 50,
 'depth': 20,
 'effectiveness': 32,
 'medicine': 21,
 'needs': 34,
 'requisition': 1,
 'clarity': 7,
 'due': 43,
 'fragile': 4,
 'nature': 29,
 'data': 50,
 'field': 38,
 'sub': 49,
 'end': 50,
 'user': 41,
 'there': 48,
 'pressing': 8,
 'need': 47,
 'develop': 47,
 'tools': 34,
 'traditional': 22,
 'approaches': 45,
 'suffer': 10,
 'doubts': 1,
 'work': 50,
 'supported': 30,
 'centre': 5,
 'doctoral': 3,
 'training': 46,
 'advanced': 17,
 'computing': 28,
 'funded': 11,
 'grant': 19,
 'funding': 14,
 'contribution': 31,
 'welsh': 0,
 'government': 10,
 'office': 4,
 'science': 35,
 'cymru': 0,
 'ii': 38,
 'programme': 14,
 'tackling': 4,
 'general': 46,
 'public': 36,
 'adheres': 1,
 'ethical': 20,
 'concern': 30,
 'considerations': 10,
 'be': 50,
 'made': 42,
 'within': 39,
 'bias': 36,
 'discriminatory': 4,
 'susceptible': 8,
 'been': 48,
 'thus': 35,
 'developed': 40,
 'applied': 42,
 'it': 50,
 'believed': 2,
 'will': 48,
 'needed': 28,
 'critical': 30,
 'apply': 36,
 'three': 43,
 'demonstrate': 31,
 'usability': 15,
 'appendix': 1,
 'particular': 42,
 'study': 46,
 'lung': 7,
 'cancer': 13,
 'mortality': 4,
 'multiple': 37,
 'leading': 26,
 'cause': 47,
 'men': 50,
 'women': 4,
 'worldwide': 6,
 'early': 29,
 'predicting': 28,
 'patients': 20,
 'help': 41,
 'benefit': 29,
 'treatment': 16,
 'risk': 31,
 'relapse': 1,
 'so': 50,
 'professionals': 11,
 'preventative': 1,
 'measures': 32,
 'plans': 6,
 'used': 49,
 'simulacrum': 0,
 'synthetic': 8,
 'created': 26,
 'derived': 23,
 'anonymous': 5,
 'provided': 36,
 'national': 45,
 'registration': 1,
 'analysis': 46,
 'service': 22,
 'part': 49,
 'england': 0,
 'experimentation': 3,
 'focused': 31,
 'generating': 28,
 'regarding': 28,
 'indicative': 2,
 'therefore': 31,
 'use': 50,
 'allows': 29,
 'us': 50,
 'trends': 12,
 'identified': 30,
 'through': 48,
 'expert': 39,
 'deduce': 5,
 'quantity': 5,
 'compares': 6,
 'state': 44,
 'art': 50,
 'serves': 12,
 'demonstration': 7,
 'may': 44,
 'deliver': 19,
 'il': 50,
 'background': 21,
 'focus': 43,
 'experimenting': 2,
 'attribution': 18,
 'assign': 19,
 'weights': 28,
 'predict': 47,
 'briefly': 13,
 'review': 42,
 'below': 25,
 'shapley': 2,
 'additive': 15,
 'explains': 22,
 'based': 50,
 'values': 42,
 'directs': 1,
 'fairly': 8,
 'distribute': 26,
 'determined': 29,
 'investments': 1,
 'implementation': 27,
 'value': 47,
 'sees': 7,
 'incorporation': 3,
 'characteristic': 32,
 'function': 42,
 'number': 44,
 'coalitions': 3,
 'calculates': 8,
 'average': 31,
 'over': 50,
 'permutation': 9,
 'defined': 40,
 'linear': 37,
 'binary': 19,
 'inputs': 31,
 'explanation': 47,
 'original': 34,
 'coalition': 6,
 'vector': 33,
 'simplified': 17,
 'maximum': 21,
 'explanatory': 27,
 'complexity': 34,
 'input': 47,
 'finally': 8,
 'sum': 49,
 'all': 50,
 'contributions': 23,
 'fit': 42,
 'local': 45,
 'interpretable': 42,
 'agnostic': 36,
 'close': 31,
 'focuses': 19,
 'achieved': 27,
 'accessing': 2,
 'fits': 24,
 'line': 49,
 'linearity': 6,
 'regularization': 13,
 'constraint': 24,
 'regression': 27,
 'obtain': 36,
 'point': 44,
 'faithfulness': 4,
 'measured': 21,
 'parameters': 36,
 'denotes': 13,
 'square': 17,
 'loss': 27,
 'minimized': 7,
 'min': 50,
 'lf': 48,
 'anchors': 2,
 'individual': 41,
 'dictions': 41,
 'prioritising': 2,
 'search': 50,
 'rule': 41,
 'increase': 42,
 'likelihood': 11,
 'perturbation': 18,
 'strategy': 24,
 'create': 41,
 'output': 46,
 'low': 49,
 'idea': 33,
 'factual': 20,
 'identifying': 32,
 'cases': 42,
 'certain': 44,
 'give': 47,
 'conditional': 12,
 'statements': 14,
 'true': 27,
 'provides': 39,
 'format': 48,
 'then': 43,
 'structure': 42,
 'better': 40,
 'localized': 4,
 'anchor': 3,
 'predicate': 4,
 'expected': 28,
 'evaluation': 40,
 'neighbours': 4,
 'instance': 43,
 'distribution': 38,
 'matching': 8,
 'greater': 21,
 'equal': 26,
 'precision': 22,
 'boundary': 14,
 'set': 50,
 'threshold': 13,
 'iii': 14,
 'preparation': 9,
 'explaining': 44,
 'specifically': 21,
 'process': 50,
 'solve': 27,
 'following': 43,
 'problem': 43,
 'patient': 25,
 'collected': 20,
 'see': 46,
 'table': 49,
 'example': 50,
 'he': 50,
 'likely': 29,
 'survive': 3,
 'sample': 33,
 'record': 21,
 'after': 38,
 'processing': 38,
 'classifier': 40,
 'consists': 24,
 'allowing': 17,
 'development': 38,
 'maintaining': 11,
 'confidentiality': 3,
 'reflecting': 7,
 'high': 49,
 'degree': 33,
 'properties': 31,
 'found': 37,
 'first': 50,
 'performed': 32,
 'construct': 30,
 'clean': 10,
 'support': 48,
 'remove': 28,
 'null': 7,
 'obvious': 10,
 'errors': 20,
 'logical': 40,
 'inconsistencies': 4,
 'weight': 39,
 'height': 7,
 'unrealistic': 4,
 'listed': 17,
 'undergoing': 1,
 'regimen': 1,
 'death': 5,
 'removed': 15,
 'conditions': 30,
 'amended': 1,
 'assumption': 25,
 'balanced': 16,
 'lower': 33,
 'bounds': 4,
 'developing': 23,
 'compose': 19,
 'tabular': 7,
 'each': 50,
 'row': 42,
 'corresponding': 24,
 'treat': 30,
 'category': 22,
 'two': 50,
 'classes': 23,
 'alive': 3,
 'deceased': 2,
 'survived': 2,
 'respectively': 36,
 'assume': 31,
 'knowledge': 49,
 'association': 19,
 'specificities': 1,
 'reflective': 1,
 'before': 28,
 'running': 15,
 'execute': 12,
 'classifiers': 25,
 'deterministic': 2,
 'inheriting': 1,
 'logistic': 11,
 'also': 50,
 'performance': 47,
 'baseline': 19,
 'method': 47,
 'boosting': 11,
 'displayed': 10,
 'subset': 28,
 'contains': 25,
 'cohort': 6,
 'selected': 33,
 'trained': 37,
 'tested': 24,
 'remaining': 18,
 'lr': 33,
 'recall': 13,
 'evident': 7,
 'best': 43,
 'performing': 26,
 'drop': 18,
 'both': 48,
 'http': 45,
 'www': 38,
 'about': 43,
 'iv': 50,
 'classifications': 14,
 'illustration': 7,
 'present': 50,
 'global': 35,
 'testing': 29,
 'figure': 20,
 'observe': 35,
 'presence': 18,
 'absence': 7,
 'distant': 0,
 'metastatic': 0,
 'spread': 13,
 'size': 42,
 'extent': 20,
 'primary': 20,
 'tumor': 10,
 'involvement': 5,
 'regional': 4,
 'lymph': 2,
 'nodes': 18,
 'most': 50,
 'similar': 44,
 'figures': 10,
 'produced': 24,
 'omitted': 5,
 'space': 34,
 'limit': 41,
 'age': 50,
 'morph': 12,
 'site': 31,
 'sex': 5,
 'grade': 9,
 'plan': 49,
 'ace': 48,
 'trial': 23,
 'ns': 50,
 'time': 46,
 'delay': 5,
 'behaviour': 16,
 'stopped': 1,
 'outcome': 29,
 'cycle': 13,
 'radiation': 1,
 'impact': 40,
 'axis': 10,
 'weighting': 4,
 'red': 50,
 'being': 39,
 'shift': 18,
 'countered': 6,
 'blue': 13,
 'minimal': 11,
 'conduct': 26,
 'quantitative': 15,
 'between': 49,
 'visualisation': 4,
 'important': 46,
 'means': 35,
 'other': 50,
 'parts': 26,
 'body': 15,
 'no': 50,
 'influential': 13,
 'ranking': 20,
 'differs': 9,
 'consider': 48,
 'second': 43,
 'considers': 19,
 'higher': 37,
 'ft': 49,
 'ed': 50,
 'width': 15,
 'descriptive': 11,
 'block': 18,
 'colour': 5,
 'probability': 24,
 'noticing': 0,
 'discrepancy': 1,
 'differences': 23,
 'absolute': 13,
 'irrespective': 3,
 'count': 45,
 'differ': 50,
 'probabilities': 14,
 'dead': 1,
 'maul': 0,
 'dose': 2,
 'cur': 50,
 'providing': 36,
 'class': 47,
 'coverage': 6,
 'junction': 11,
 'case': 48,
 'words': 39,
 'share': 22,
 'written': 18,
 'shown': 38,
 'seen': 27,
 'exist': 44,
 'relationship': 30,
 'indexed': 4,
 'same': 43,
 'across': 29,
 'but': 50,
 'differential': 6,
 'comparisons': 10,
 'majority': 19,
 'priority': 5,
 'note': 40,
 'included': 20,
 'always': 30,
 'find': 45,
 'quality': 33,
 'response': 32,
 'collection': 23,
 'instances': 22,
 'applicable': 23,
 'kindred': 1,
 'calculation': 13,
 'hold': 33,
 'little': 15,
 'integrity': 3,
 'conversely': 1,
 'more': 50,
 'meaningful': 19,
 'comparing': 20,
 'information': 46,
 'optimal': 17,
 'relational': 8,
 'form': 50,
 'validation': 25,
 'supporting': 18,
 'consistency': 15,
 'representation': 38,
 'extracted': 25,
 'taken': 30,
 'test': 46,
 'extract': 35,
 'under': 50,
 'condition': 36,
 'well': 47,
 'way': 46,
 'factors': 29,
 'were': 44,
 'either': 36,
 'returned': 8,
 'particularly': 17,
 'interesting': 19,
 'result': 50,
 'confirms': 9,
 'superiority': 3,
 'stage': 25,
 'staging': 1,
 'step': 38,
 'diagnosis': 26,
 'multifarious': 1,
 'objectives': 14,
 'helping': 9,
 'indication': 6,
 'prognosis': 6,
 'showing': 20,
 'facilitating': 8,
 'exchange': 7,
 'de': 50,
 'findings': 25,
 'consistent': 25,
 'another': 39,
 'indicating': 20,
 'prognostic': 3,
 'while': 43,
 'followed': 22,
 'histologic': 2,
 'status': 17,
 'shows': 36,
 'morphology': 3,
 'conclusion': 27,
 'considered': 40,
 'answer': 29,
 'compared': 32,
 'answering': 12,
 'illustrations': 1,
 'bring': 17,
 'communicating': 3,
 'just': 44,
 'reasoning': 35,
 'believe': 19,
 'improve': 44,
 'rate': 50,
 'deduction': 3,
 'deciding': 8,
 'coinciding': 1,
 'known': 36,
 'edge': 50,
 'secondary': 12,
 'clear': 34,
 'supports': 15,
 'substitute': 3,
 'discernible': 2,
 'necessity': 9,
 'conducted': 16,
 'future': 45,
 'determine': 40,
 'references': 14,
 'miller': 4,
 'insights': 30,
 'social': 30,
 'volume': 18,
 'february': 0,
 'pages': 11,
 'gold': 3,
 'explain': 50,
 'able': 50,
 'rigorous': 11,
 'lent': 27,
 'system': 49,
 'small': 37,
 'unit': 44,
 'tactical': 4,
 'behavior': 33,
 'peeking': 0,
 'inside': 23,
 'survey': 39,
 'open': 40,
 'access': 35,
 'journal': 27,
 'watson': 1,
 'heart': 14,
 'attack': 17,
 'computational': 27,
 'iccs': 0,
 'th': 50,
 'international': 23,
 'conference': 25,
 'springer': 6,
 'lange': 0,
 'acute': 6,
 'illness': 3,
 'gandhi': 0,
 'powell': 0,
 'epidemiology': 2,
 'glob': 37,
 'lee': 10,
 'unified': 20,
 'approach': 50,
 'interpreting': 23,
 'advances': 15,
 'annual': 12,
 'why': 36,
 'any': 50,
 'pro': 50,
 'thirty': 0,
 'ar': 50,
 'press': 38,
 'koch': 0,
 'inter': 50,
 'framework': 41,
 'yang': 7,
 'biology': 5,
 'options': 8,
 'jones': 1,
 'publishing': 1,
 'taylor': 0,
 'group': 34,
 'geographical': 4,
 'rays': 5,
 'print': 23,
 'online': 36,
 'homepage': 3,
 'https': 44,
 'task': 40,
 'specific': 47,
 'temporal': 14,
 'units': 21,
 'li': 50,
 'yi': 50,
 'wu': 3,
 'cite': 22,
 'article': 33,
 'doi': 36,
 'link': 23,
 'published': 27,
 'aug': 26,
 'sg': 14,
 'submit': 8,
 'views': 23,
 'view': 50,
 'related': 43,
 'articles': 16,
 'citing': 3,
 'full': 42,
 'action': 48,
 'remote': 6,
 'sensing': 5,
 'systems': 44,
 'school': 7,
 'earth': 3,
 'peking': 0,
 'beijing': 0,
 'china': 0,
 'center': 21,
 'digital': 15,
 'spatial': 12,
 'studies': 40,
 'department': 2,
 'geography': 3,
 'geographic': 4,
 'illinois': 0,
 'urbana': 0,
 'champaign': 0,
 'usa': 41,
 'info': 48,
 'physics': 7,
 'central': 14,
 'south': 2,
 'hunan': 0,
 'history': 14,
 'big': 28,
 'often': 37,
 'aggregated': 10,
 'according': 34,
 'received': 26,
 'october': 0,
 'analyzing': 20,
 'activities': 18,
 'urban': 7,
 'environments': 11,
 'many': 44,
 'accepted': 18,
 'july': 0,
 'categorize': 19,
 'groups': 25,
 'characteristics': 27,
 'vary': 25,
 'deep': 44,
 'tensor': 7,
 'essential': 29,
 'apparently': 6,
 'dependence': 16,
 'variety': 24,
 'tasks': 34,
 'impede': 5,
 'effective': 45,
 'assessment': 31,
 'inspired': 14,
 'image': 35,
 'components': 30,
 'propose': 41,
 'layer': 39,
 'wise': 30,
 'relevance': 17,
 'propagation': 12,
 'assess': 43,
 'organizes': 2,
 'extensible': 2,
 'dimensional': 24,
 'labeling': 4,
 'typical': 31,
 'temporally': 2,
 'spatially': 1,
 'relevant': 36,
 'neural': 43,
 'network': 47,
 'proceeds': 2,
 'analytical': 12,
 'propagates': 2,
 'backward': 9,
 'taxi': 1,
 'trajectory': 4,
 'validates': 1,
 'prove': 47,
 'proposed': 40,
 'attempts': 12,
 'discover': 33,
 'phenomena': 16,
 'change': 40,
 'constantly': 2,
 'variation': 21,
 'widely': 28,
 'represent': 48,
 'activity': 15,
 'patterns': 26,
 'environmental': 5,
 'natural': 31,
 'ma': 50,
 'preset': 1,
 'resolutions': 3,
 'tags': 5,
 'map': 35,
 'integrate': 26,
 'tessellations': 1,
 'composed': 15,
 'series': 21,
 'pei': 5,
 'contact': 5,
 'pku': 1,
 'limited': 35,
 'trading': 7,
 'panel': 8,
 'definition': 29,
 'section': 36,
 'acquire': 16,
 'extracting': 19,
 'daily': 9,
 'trip': 4,
 'weather': 5,
 'heterogeneity': 5,
 'pay': 17,
 'poorly': 5,
 'drained': 1,
 'zones': 4,
 'previously': 22,
 'mentioned': 31,
 'only': 47,
 'beneficial': 10,
 'guiding': 8,
 'discovering': 5,
 'few': 37,
 'existing': 36,
 'topic': 27,
 'easy': 24,
 'gao': 2,
 'assessments': 9,
 'independent': 28,
 'variables': 30,
 'sensitivity': 15,
 'changes': 28,
 'depending': 17,
 'even': 46,
 'necessary': 32,
 'regard': 41,
 'daytime': 1,
 'valuable': 21,
 'nighttime': 1,
 'traffic': 13,
 'management': 16,
 'people': 27,
 'active': 40,
 'crucial': 25,
 'criminal': 11,
 'classic': 11,
 'analyses': 15,
 'density': 12,
 'clustering': 20,
 'procedure': 26,
 'specialized': 4,
 'extraction': 18,
 'correspond': 34,
 'desirable': 17,
 'various': 34,
 'its': 50,
 'excellent': 9,
 'applicability': 9,
 'reichstein': 0,
 'meanwhile': 0,
 'computer': 32,
 'vision': 38,
 'proved': 32,
 'networks': 44,
 'images': 27,
 'address': 36,
 'difficulties': 8,
 'earlier': 17,
 'recurrent': 13,
 'capture': 32,
 'contrast': 30,
 'acquired': 10,
 'implicit': 20,
 'interpret': 49,
 'researchers': 30,
 'several': 38,
 'bach': 15,
 'activation': 24,
 'mapping': 22,
 'cam': 26,
 'reference': 25,
 'label': 31,
 'propagate': 8,
 'back': 43,
 'concepts': 28,
 'basic': 25,
 'principles': 15,
 'objective': 29,
 'distinguish': 19,
 'pick': 12,
 'up': 50,
 'weekdays': 1,
 'weekends': 1,
 'holidays': 1,
 'gives': 22,
 'spatiotemporal': 2,
 ...}

In [38]:
caseFolding_df['df'] = caseFolding_dff.values()

In [39]:
caseFolding_df

              Token     TF  df
0                 a  10140  50
1        comparison    129  37
2      explanations   1730  45
3             given    340  45
4                by   2360  50
...             ...    ...  ..
12786         saint      1   1
12787    interlaken      1   0
12788         askes      1   0
12789        strain      1  28
12790        solids      1   0

[12791 rows x 3 columns]

In [40]:
caseFolding_df['idf'] = np.log((50 / caseFolding_df['df']))

              Token     TF  df       idf
0                 a  10140  50  0.000000
1        comparison    129  37  0.301105
2      explanations   1730  45  0.105361
3             given    340  45  0.105361
4                by   2360  50  0.000000
...             ...    ...  ..       ...
12786         saint      1   1  3.912023
12787    interlaken      1   0       inf
12788         askes      1   0       inf
12789        strain      1  28  0.579818
12790        solids      1   0       inf

[12791 rows x 4 columns]

In [42]:
caseFol_10 = caseFolding_df.sort_values(by=['TF'], ascending=False)[0:10]
caseFol_10

     Token     TF  df       idf
0        a  10140  50  0.000000
50      in   9282  50  0.000000
56      is   4941  50  0.000000
9       on   3711  50  0.000000
34      as   3154  50  0.000000
106    are   2873  50  0.000000
112  model   2619  49  0.020203
208     be   2409  50  0.000000
4       by   2360  50  0.000000
118     an   2261  50  0.000000

## Stemming

In [43]:
stemmer = PorterStemmer()

In [44]:
stemmed_tok = [stemmer.stem(word) for word in our_tokens]
len(stemmed_tok)

316399

In [45]:
stemmed_tok_dic = create_unig(stemmed_tok)

{'a': 10140,
 'comparison': 148,
 'explan': 3531,
 'given': 340,
 'by': 2360,
 'explain': 2147,
 'artifici': 959,
 'intellig': 1187,
 'method': 1441,
 'on': 3711,
 'analys': 87,
 'electron': 89,
 'health': 101,
 'record': 65,
 'fan': 14,
 'bruce': 1,
 'burnett': 12,
 'shang': 3,
 'ming': 5,
 'zhou': 41,
 'swansea': 3,
 'univers': 377,
 'unit': 363,
 'kingdom': 10,
 'ac': 63,
 'uk': 58,
 'plymouth': 3,
 'abstract': 159,
 'aim': 170,
 'provid': 853,
 'user': 1165,
 'algorithm': 919,
 'such': 908,
 'as': 3154,
 'lime': 265,
 'rule': 601,
 'comput': 879,
 'featur': 1748,
 'import': 766,
 'machin': 1283,
 'learn': 2112,
 'predict': 1308,
 'ha': 890,
 'attract': 15,
 'much': 107,
 'research': 929,
 'attent': 216,
 'appli': 477,
 'techniqu': 556,
 'in': 9283,
 'healthcar': 92,
 'inform': 974,
 'clinic': 124,
 'decis': 1437,
 'make': 624,
 'is': 4941,
 'challeng': 337,
 'paper': 300,
 'tertiari': 6,
 'extens': 65,
 'complex': 321,
 'larg': 169,
 'scale': 126,
 'compar': 315,
 'term': 378,
 'es': 41,
 'model': 4217,
 'experiment': 110,
 'result': 782,
 'show': 385,
 'studi': 732,
 'circumstanti': 1,
 'gener': 1065,
 'differ': 1013,
 'top': 220,
 'aberr': 4,
 'share': 56,
 'merit': 4,
 'further': 175,
 'explor': 116,
 'domain': 510,
 'expert': 297,
 'evalu': 730,
 'human': 1025,
 'trust': 409,
 'index': 70,
 'ai': 1321,
 'black': 462,
 'box': 521,
 'glass': 8,
 'i': 902,
 'introduct': 78,
 'though': 43,
 'outperform': 43,
 'some': 460,
 'cation': 23,
 'one': 726,
 'question': 306,
 'remain': 84,
 'can': 1794,
 'assur': 18,
 'solut': 200,
 'are': 2874,
 'trustworthi': 61,
 'common': 152,
 'aris': 30,
 'applic': 665,
 'exhibit': 10,
 'behaviour': 66,
 'compromis': 22,
 'factor': 204,
 'becom': 131,
 'an': 2261,
 'adversari': 7,
 'understand': 817,
 'intern': 551,
 'mechan': 150,
 'difficult': 80,
 'not': 1144,
 'imposs': 11,
 'medic': 256,
 'scienc': 592,
 'have': 991,
 'wit': 4,
 'grow': 43,
 'interest': 209,
 'use': 2467,
 'ml': 377,
 'howev': 368,
 'light': 35,
 'ensur': 63,
 'collabor': 47,
 'al': 1377,
 'look': 53,
 'at': 807,
 'clinician': 25,
 'want': 118,
 'identifi': 300,
 'mere': 19,
 'highli': 72,
 'accur': 133,
 'suffici': 60,
 'notabl': 25,
 'singl': 145,
 'metric': 255,
 'classif': 686,
 'accuraci': 583,
 'doe': 207,
 'insight': 147,
 'wa': 933,
 'obtain': 200,
 'or': 1571,
 'depth': 52,
 'effect': 434,
 'medicin': 52,
 'need': 361,
 'requisit': 1,
 'clariti': 13,
 'due': 157,
 'fragil': 11,
 'natur': 322,
 'data': 2120,
 'field': 213,
 'sub': 53,
 'end': 154,
 'there': 452,
 'press': 115,
 'develop': 584,
 'tool': 188,
 'tradit': 61,
 'approach': 884,
 'suffer': 16,
 'doubt': 7,
 'work': 669,
 'support': 342,
 'centr': 42,
 'doctor': 80,
 'train': 696,
 'advanc': 193,
 'fund': 67,
 'grant': 44,
 'contribut': 375,
 'welsh': 1,
 'govern': 56,
 'offic': 15,
 'cymru': 1,
 'ii': 109,
 'programm': 20,
 'tackl': 21,
 'public': 196,
 'adher': 9,
 'ethic': 123,
 'concern': 121,
 'consider': 61,
 'be': 2617,
 'made': 178,
 'within': 192,
 'bia': 117,
 'discriminatori': 5,
 'suscept': 12,
 'been': 596,
 'thu': 203,
 'it': 2033,
 'believ': 64,
 'will': 468,
 'critic': 130,
 'three': 305,
 'demonstr': 132,
 'usabl': 19,
 'appendix': 16,
 'particular': 224,
 'lung': 29,
 'cancer': 63,
 'mortal': 26,
 'multipl': 139,
 'lead': 154,
 'caus': 157,
 'men': 7,
 'women': 12,
 'worldwid': 14,
 'earli': 71,
 'patient': 210,
 'help': 221,
 'benefit': 68,
 'treatment': 56,
 'risk': 196,
 'relaps': 1,
 'so': 224,
 'profession': 35,
 'prevent': 45,
 'measur': 596,
 'plan': 57,
 'simulacrum': 6,
 'synthet': 24,
 'creat': 252,
 'deriv': 76,
 'anonym': 6,
 'nation': 119,
 'registr': 2,
 'analysi': 497,
 'servic': 143,
 'part': 188,
 'england': 4,
 'focus': 126,
 'regard': 123,
 'indic': 219,
 'therefor': 202,
 'allow': 187,
 'us': 112,
 'trend': 65,
 'through': 299,
 'deduc': 7,
 'quantiti': 11,
 'state': 298,
 'art': 127,
 'serv': 50,
 'may': 615,
 'deliv': 39,
 'il': 34,
 'background': 95,
 'focu': 126,
 'experi': 220,
 'attribut': 260,
 'assign': 102,
 'weight': 176,
 'briefli': 25,
 'review': 337,
 'below': 66,
 'shapley': 73,
 'addit': 317,
 'base': 1643,
 'valu': 809,
 'direct': 177,
 'fairli': 9,
 'distribut': 245,
 'determin': 204,
 'invest': 10,
 'implement': 191,
 'see': 224,
 'incorpor': 69,
 'characterist': 112,
 'function': 382,
 'number': 472,
 'coalit': 16,
 'calcul': 125,
 'averag': 129,
 'over': 200,
 'permut': 68,
 'defin': 266,
 'linear': 206,
 'binari': 39,
 'input': 616,
 'origin': 184,
 'vector': 194,
 'simplifi': 33,
 'maximum': 58,
 'explanatori': 143,
 'final': 214,
 'sum': 70,
 'all': 586,
 'fit': 73,
 'local': 566,
 'interpret': 886,
 'agnost': 176,
 'close': 100,
 'achiev': 240,
 'access': 393,
 'line': 124,
 'regular': 39,
 'constraint': 61,
 'regress': 158,
 'point': 464,
 'faith': 34,
 'paramet': 312,
 'denot': 54,
 'squar': 38,
 'loss': 129,
 'minim': 47,
 'min': 77,
 'lf': 13,
 'anchor': 31,
 'individu': 223,
 'diction': 13,
 'prioritis': 3,
 'search': 110,
 'increas': 233,
 'likelihood': 23,
 'perturb': 92,
 'strategi': 121,
 'output': 519,
 'low': 180,
 'idea': 96,
 'factual': 14,
 'case': 582,
 'certain': 145,
 'give': 158,
 'condit': 181,
 'statement': 119,
 'true': 74,
 'format': 67,
 'then': 365,
 'structur': 283,
 'better': 178,
 'predic': 18,
 'expect': 117,
 'neighbour': 15,
 'instanc': 293,
 'match': 48,
 'greater': 36,
 'equal': 49,
 'precis': 131,
 'boundari': 54,
 'set': 787,
 'threshold': 63,
 'iii': 54,
 'prepar': 44,
 'specif': 508,
 'process': 1118,
 'solv': 77,
 'follow': 394,
 'problem': 390,
 'collect': 158,
 'tabl': 379,
 'exampl': 671,
 'he': 203,
 'like': 247,
 'surviv': 41,
 'sampl': 326,
 'after': 208,
 'classifi': 601,
 'consist': 190,
 'maintain': 35,
 'confidenti': 8,
 'reflect': 130,
 'high': 419,
 'degre': 130,
 'properti': 154,
 'found': 140,
 'first': 336,
 'perform': 819,
 'construct': 121,
 'clean': 16,
 'remov': 52,
 'null': 10,
 'obviou': 8,
 'error': 130,
 'logic': 207,
 'inconsist': 12,
 'height': 12,
 'unrealist': 9,
 'list': 149,
 'undergo': 2,
 'regimen': 1,
 'death': 11,
 'amend': 1,
 'assumpt': 88,
 'balanc': 65,
 'lower': 87,
 'bound': 17,
 'compos': 31,
 'tabular': 11,
 'each': 610,
 'row': 20,
 'correspond': 167,
 'treat': 38,
 'categori': 200,
 'two': 515,
 'class': 391,
 'aliv': 9,
 'deceas': 6,
 'respect': 211,
 'assum': 93,
 'knowledg': 722,
 'associ': 341,
 'befor': 69,
 'run': 92,
 'execut': 57,
 'determinist': 3,
 'inherit': 2,
 'logist': 43,
 'also': 715,
 'baselin': 59,
 'boost': 68,
 'display': 48,
 'subset': 95,
 'contain': 173,
 'cohort': 11,
 'select': 457,
 'test': 649,
 'lr': 7,
 'recal': 73,
 'evid': 146,
 'best': 191,
 'drop': 35,
 'both': 292,
 'http': 832,
 'www': 142,
 'about': 317,
 'iv': 52,
 'illustr': 124,
 'present': 436,
 'global': 231,
 'figur': 675,
 'observ': 256,
 'presenc': 52,
 'absenc': 14,
 'distant': 1,
 'metastat': 1,
 'spread': 11,
 'size': 163,
 'extent': 56,
 'primari': 52,
 'tumor': 25,
 'involv': 118,
 'region': 89,
 'lymph': 3,
 'node': 130,
 'most': 406,
 'similar': 234,
 'produc': 227,
 'omit': 14,
 'space': 130,
 'limit': 252,
 'age': 90,
 'morph': 6,
 'site': 38,
 'sex': 4,
 'grade': 17,
 'ace': 10,
 'trial': 26,
 'ns': 6,
 'time': 482,
 'delay': 8,
 'stop': 47,
 'outcom': 199,
 'cycl': 15,
 'radiat': 2,
 'impact': 146,
 'axi': 42,
 'red': 46,
 'shift': 38,
 'counter': 8,
 'blue': 23,
 'conduct': 93,
 'quantit': 53,
 'between': 584,
 'visualis': 31,
 'mean': 420,
 'other': 604,
 'bodi': 32,
 'no': 609,
 'influenti': 26,
 'rank': 154,
 'consid': 433,
 'second': 150,
 'higher': 137,
 'ft': 9,
 'ed': 160,
 'width': 26,
 'descript': 102,
 'block': 75,
 'colour': 16,
 'probabl': 157,
 'notic': 28,
 'discrep': 5,
 'absolut': 66,
 'irrespect': 2,
 'count': 85,
 'dead': 4,
 'maul': 1,
 'dose': 4,
 'cur': 15,
 'coverag': 143,
 'junction': 4,
 'word': 148,
 'written': 21,
 'shown': 239,
 'seen': 59,
 'exist': 197,
 'relationship': 107,
 'same': 210,
 'across': 73,
 'but': 459,
 'differenti': 31,
 'major': 116,
 'prioriti': 11,
 'note': 208,
 'includ': 523,
 'alway': 64,
 'find': 250,
 'qualiti': 385,
 'respons': 208,
 'kindr': 1,
 'hold': 23,
 'littl': 22,
 'integr': 152,
 'convers': 30,
 'more': 836,
 'meaning': 87,
 'optim': 176,
 'relat': 438,
 'form': 292,
 'valid': 304,
 'represent': 294,
 'extract': 322,
 'taken': 77,
 'under': 217,
 'well': 373,
 'way': 268,
 'were': 757,
 'either': 72,
 'return': 60,
 'particularli': 27,
 'confirm': 47,
 'superior': 19,
 'stage': 152,
 'step': 188,
 'diagnosi': 148,
 'multifari': 1,
 'object': 505,
 'prognosi': 17,
 'facilit': 66,
 'exchang': 13,
 'de': 177,
 'anoth': 192,
 'prognost': 7,
 'while': 313,
 'histolog': 2,
 'statu': 33,
 'morpholog': 5,
 'conclus': 119,
 'answer': 137,
 'bring': 30,
 'commun': 186,
 'just': 79,
 'reason': 561,
 'improv': 436,
 'rate': 134,
 'deduct': 13,
 'decid': 54,
 'coincid': 2,
 'known': 79,
 'edg': 45,
 'secondari': 20,
 'clear': 71,
 'substitut': 3,
 'discern': 6,
 'necess': 15,
 'futur': 219,
 'refer': 244,
 'miller': 81,
 'social': 217,
 'volum': 174,
 'februari': 34,
 'page': 100,
 'gold': 4,
 'abl': 172,
 'rigor': 16,
 'lent': 19,
 'system': 2553,
 'small': 88,
 'tactic': 18,
 'behavior': 284,
 'peek': 22,
 'insid': 42,
 'survey': 268,
 'open': 149,
 'journal': 268,
 'watson': 12,
 'heart': 48,
 'attack': 326,
 'icc': 6,
 'th': 237,
 'confer': 553,
 'springer': 201,
 'lang': 5,
 'acut': 14,
 'ill': 12,
 'gandhi': 1,
 'powel': 1,
 'epidemiolog': 2,
 'glob': 1,
 'lee': 135,
 'unifi': 50,
 'annual': 55,
 'whi': 350,
 'ani': 302,
 'pro': 98,
 'thirti': 15,
 'ar': 21,
 'koch': 2,
 'inter': 59,
 'framework': 358,
 'yang': 91,
 'biolog': 27,
 'option': 34,
 'jone': 11,
 'publish': 189,
 'taylor': 44,
 'group': 233,
 'geograph': 58,
 'ray': 17,
 'print': 9,
 'onlin': 182,
 'homepag': 3,
 'task': 461,
 'tempor': 179,
 'li': 124,
 'yi': 23,
 'wu': 42,
 'cite': 35,
 'articl': 383,
 'doi': 589,
 'link': 71,
 'aug': 34,
 'sg': 16,
 'submit': 16,
 'view': 168,
 'full': 70,
 'action': 307,
 'remot': 37,
 'sens': 89,
 'school': 29,
 'earth': 51,
 'peke': 8,
 'beij': 25,
 'china': 33,
 'center': 90,
 'digit': 70,
 'spatial': 122,
 'depart': 76,
 'geographi': 6,
 'illinoi': 1,
 'urbana': 2,
 'champaign': 1,
 'usa': 223,
 'info': 5,
 'physic': 61,
 'central': 35,
 'south': 17,
 'hunan': 1,
 'histori': 41,
 'big': 86,
 'often': 187,
 'aggreg': 57,
 'accord': 155,
 'receiv': 150,
 'octob': 35,
 'analyz': 157,
 'activ': 284,
 'urban': 34,
 'environ': 64,
 'mani': 303,
 'accept': 147,
 'juli': 54,
 'categor': 89,
 'vari': 64,
 'deep': 675,
 'tensor': 21,
 'essenti': 63,
 'appar': 19,
 'depend': 246,
 'varieti': 75,
 'imped': 6,
 'assess': 320,
 'inspir': 30,
 'imag': 915,
 'compon': 266,
 'propos': 541,
 'layer': 405,
 'wise': 47,
 'relev': 283,
 'propag': 75,
 'organ': 88,
 'dimension': 77,
 'label': 214,
 'typic': 95,
 'neural': 763,
 'network': 986,
 'proce': 6,
 'analyt': 25,
 'backward': 18,
 'taxi': 28,
 'trajectori': 18,
 'prove': 45,
 'attempt': 81,
 'discov': 35,
 'phenomena': 30,
 'chang': 263,
 'constantli': 2,
 'variat': 121,
 'wide': 114,
 'repres': 249,
 'pattern': 256,
 'environment': 16,
 'ma': 82,
 'preset': 1,
 'resolut': 21,
 'tag': 17,
 'map': 312,
 'tessel': 1,
 'seri': 58,
 'pei': 4,
 'contact': 11,
 'pku': 3,
 'trade': 87,
 'panel': 27,
 'definit': 119,
 'section': 441,
 'acquir': 43,
 'daili': 21,
 'trip': 7,
 'weather': 80,
 'heterogen': 28,
 'pay': 17,
 'poorli': 5,
 'drain': 10,
 'zone': 76,
 'previous': 49,
 'mention': 92,
 'onli': 370,
 'benefici': 14,
 'guid': 74,
 'few': 77,
 'topic': 80,
 'easi': 36,
 'gao': 29,
 'independ': 66,
 'variabl': 349,
 'sensit': 114,
 'even': 158,
 'necessari': 79,
 'daytim': 6,
 'valuabl': 35,
 'nighttim': 6,
 'traffic': 82,
 'manag': 237,
 'peopl': 129,
 'crucial': 69,
 'crimin': 27,
 'classic': 23,
 'densiti': 54,
 'cluster': 640,
 'procedur': 92,
 'special': 37,
 'desir': 74,
 'variou': 140,
 'excel': 24,
 'reichstein': 2,
 'meanwhil': 18,
 'vision': 146,
 'address': 153,
 'difficulti': 24,
 'earlier': 31,
 'recurr': 41,
 'captur': 119,
 'contrast': 128,
 'implicit': 26,
 'sever': 288,
 'bach': 20,
 'cam': 169,
 'back': 66,
 'concept': 296,
 'basic': 58,
 'principl': 198,
 'distinguish': 46,
 'pick': 22,
 'up': 115,
 'weekday': 16,
 'weekend': 20,
 'holiday': 19,
 'spatiotempor': 3,
 'dimens': 122,
 'verifi': 35,
 'four': 150,
 'perspect': 133,
 'ration': 35,
 'compress': 23,
 'summar': 59,
 'suggest': 196,
 'methodolog': 134,
 'type': 325,
 'check': 97,
 'express': 73,
 'resembl': 24,
 'array': 8,
 'previou': 127,
 'axe': 80,
 'nevertheless': 24,
 'cube': 5,
 'except': 27,
 'divid': 42,
 'element': 90,
 'fix': 26,
 'overview': 100,
 'grid': 28,
 'color': 53,
 'right': 185,
 'hand': 139,
 'deeper': 34,
 'target': 232,
 'visual': 472,
 'sent': 10,
 'accomplish': 20,
 'pixel': 96,
 'util': 178,
 'henc': 84,
 'score': 336,
 'conserv': 8,
 'law': 117,
 'eq': 12,
 'pm': 6,
 'po': 11,
 'neuron': 126,
 'connect': 132,
 'adjac': 5,
 're': 129,
 'forward': 53,
 'pass': 74,
 'separ': 82,
 'neg': 88,
 'posit': 164,
 'retain': 18,
 'unclear': 5,
 'rel': 101,
 'locat': 87,
 'lu': 19,
 'kernel': 45,
 'fulli': 83,
 'rectangl': 2,
 'convolut': 51,
 'must': 149,
 'divers': 65,
 'capabl': 92,
 'gather': 37,
 'stabl': 14,
 'reliabl': 94,
 'simpli': 40,
 'investig': 152,
 'sion': 38,
 'detail': 184,
 'last': 73,
 'correctli': 37,
 'subsequ': 47,
 'hot': 9,
 'rf': 55,
 'correct': 103,
 'formul': 41,
 'dl': 116,
 'ko': 5,
 'sot': 1,
 'total': 75,
 'oper': 183,
 'hs': 6,
 'hr': 7,
 'easili': 65,
 'worth': 17,
 'adjust': 38,
 'handl': 29,
 'custom': 158,
 'interv': 25,
 'area': 243,
 'rang': 155,
 'statist': 257,
 'pss': 1,
 'conveni': 9,
 'irregular': 9,
 'graph': 106,
 'raster': 1,
 'directli': 66,
 'resiz': 3,
 'requir': 354,
 'band': 34,
 'alreadi': 60,
 'spectral': 11,
 'unchang': 10,
 'least': 57,
 'season': 3,
 'event': 126,
 'polici': 56,
 'subway': 7,
 'extrem': 26,
 'slice': 6,
 'land': 18,
 'congest': 6,
 'suburb': 1,
 'down': 59,
 'town': 3,
 'third': 56,
 'long': 89,
 'short': 44,
 'memori': 37,
 'net': 85,
 'order': 231,
 'enough': 43,
 'guarante': 35,
 'situat': 57,
 'introduc': 141,
 'normal': 214,
 'recommend': 186,
 'taxicab': 2,
 'transport': 64,
 'mode': 42,
 'proxi': 28,
 'citizen': 7,
 'simpl': 139,
 'gp': 7,
 'sensor': 71,
 'moreov': 120,
 'movement': 44,
 'destin': 7,
 'od': 14,
 'raw': 21,
 'travel': 11,
 'demand': 63,
 'resid': 5,
 'dispatch': 1,
 'design': 359,
 'choos': 50,
 'approxim': 136,
 'ring': 51,
 'road': 26,
 'km': 11,
 'whole': 61,
 'compani': 102,
 'mask': 31,
 'id': 75,
 'coordin': 39,
 'utc': 40,
 'ge': 13,
 'ic': 14,
 'sth': 3,
 'mark': 31,
 'empti': 4,
 'occupi': 5,
 'moment': 7,
 'filter': 92,
 'criteria': 120,
 'speed': 35,
 'less': 93,
 'distanc': 83,
 'meter': 7,
 'half': 15,
 'hour': 19,
 'day': 79,
 'drawn': 13,
 'period': 29,
 'examin': 68,
 'build': 245,
 'encod': 34,
 'chines': 17,
 'schedul': 8,
 'stride': 8,
 'reduc': 101,
 'max': 164,
 'pool': 71,
 'program': 227,
 'cover': 70,
 'miss': 28,
 'randomli': 31,
 ...}

In [46]:
stemmed_tok_df = pd.DataFrame({"Token" : stemmed_tok_dic.keys(), "TF" : stemmed_tok_dic.values()})
stemmed_tok_df

           Token     TF
0              a  10140
1     comparison    148
2         explan   3531
3          given    340
4             by   2360
...          ...    ...
7614      archer      1
7615      studio      1
7616       saint      1
7617  interlaken      1
7618      strain      1

[7619 rows x 2 columns]

In [47]:
stemmed_tok_df_df = df(stemmed_tok_df)

In [48]:
stemmed_tok_df['df'] = stemmed_tok_df_df.values()

In [49]:
stemmed_tok_df["idf"] = np.log((50/stemmed_tok_df["df"]))

In [50]:
stemmed_tok_df

           Token     TF  df       idf
0              a  10140  50  0.000000
1     comparison    148  37  0.301105
2         explan   3531  48  0.040822
3          given    340  45  0.105361
4             by   2360  50  0.000000
...          ...    ...  ..       ...
7614      archer      1  36  0.328504
7615      studio      1   0       inf
7616       saint      1   1  3.912023
7617  interlaken      1   0       inf
7618      strain      1  28  0.579818

[7619 rows x 4 columns]

In [51]:
stem_10 = stemmed_tok_df.sort_values(by=['TF'], ascending=False)[0:10]
stem_10

      Token     TF  df       idf
0         a  10140  50  0.000000
49       in   9283  50  0.000000
55       is   4941  50  0.000000
66    model   4217  49  0.020203
9        on   3711  50  0.000000
2    explan   3531  48  0.040822
33       as   3154  50  0.000000
102     are   2874  50  0.000000
194      be   2617  50  0.000000
599  system   2553  49  0.020203

In [52]:
stem_10_l = list(stem_10["Token"])
caseFol_10_l = list(caseFol_10["Token"])
stop_words_l = list(stopW_10["Token"])
token_10_l = list(token_10["Token"])

print(stem_10_l)
print(caseFol_10_l)
print(stop_words_l)
print(token_10_l)

i1 = set(stem_10_l).intersection(set(caseFol_10_l))
i2 = i1.intersection(set(stop_words_l))
i2

['a', 'in', 'is', 'model', 'on', 'explan', 'as', 'are', 'be', 'system']
['a', 'in', 'is', 'on', 'as', 'are', 'model', 'be', 'by', 'an']
['A', 'model', 'In', 'data', 'explanations', 'explanation', 'based', 'models', 'learning', 'AI']
['on', 'A', 'by', 'Explainable', 'Intelligence', 'Artificial', 'Explanations', 'Methods', 'Given', 'Comparison']

{'model'}